@import "tailwindcss";
/* @plugin "daisyui"; */

@plugin "daisyui" {
    themes: light --default;
}

@font-face {
    font-family: "PeydaWebFaNum-Medium";
    src: url("/public/fonts/woff/PeydaWebFaNum-Medium.woff") format('woff');
    font-display: swap;

}

@font-face {
    font-family: "PeydaWebFaNum-Bold";
    src: url("/public/fonts/woff/PeydaWebFaNum-Bold.woff") format('woff');
    font-display: swap;
}

@font-face {
    font-family: "PeydaWebFaNum-Black";
    src: url("/public/fonts/woff/PeydaWebFaNum-Black.woff") format('woff');
    font-display: swap;
}

* {
    outline: none;
}

@theme {
    --font-sans: "PeydaWebFaNum-Medium";
    --font-peydaB: "PeydaWebFaNum-Bold";
    --font-peydaBlack: "PeydaWebFaNum-Black";
    --text-2sm: 10px;
    --color-c-primary: #010562;
    --color-sec: #EFEFEF;
}

@utility container {
    margin: auto;
    padding-inline: 1rem;

    @variant sm {
        padding-inline: 2rem;
    }

    @variant lg {
        padding-inline: 4rem;
    }

    @variant xl {
        padding-inline: 5rem;
    }

    @variant 2xl {
        padding-inline: 6rem;
    }
}

h1,
h2 {
    @apply font-peydaBlack
}

.cinput {
    @apply block bg-white w-full rounded p-[7px] border border-black
}

.primary {
    @apply bg-black text-white
}

.shadow-c {
    box-shadow: 0 4px 4px 0 #00000008;
}

.shadow-c-md {
    box-shadow: 0 5px 10px 0 #0000001a;
}

.btn-c {
    @apply bg-black text-white rounded hover:opacity-90 transition-all cursor-pointer flex justify-center items-center gap-2
}

.center {
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2
}

.flex-center {
    @apply flex justify-center items-center
}

.req {
    @apply after:content-['*'] after:text-red-500 after:font-bold
}

/* PrimeVue Theming */
.p-toast {
    @apply !w-11/12 !max-w-[350px]
}

.p-toast-message {
    box-shadow: none !important;
}

.p-select {
    border: none !important;
    box-shadow: none !important;
}

.p-select-label {
    color: #000 !important;
}