@import "tailwindcss";
/* @plugin "daisyui"; */

@plugin "daisyui" {
    themes: light --default;
}

@font-face {
    font-family: "PeydaWebFaNum-Medium";
    src: url("/public/fonts/woff/PeydaWebFaNum-Medium.woff") format('woff');
    font-display: swap;

}

@font-face {
    font-family: "PeydaWebFaNum-Bold";
    src: url("/public/fonts/woff/PeydaWebFaNum-Bold.woff") format('woff');
    font-display: swap;

}

* {
    outline: none;
}

@theme {
    --font-sans: "PeydaWebFaNum-Medium";
    --font-peydaB: "PeydaWebFaNum-Bold";
    --text-2sm: 10px;
    --color-c-primary: #010562;
    --color-sec: #EFEFEF;
}

@utility container {
    margin: auto;
    padding-inline: 1rem;

    @variant sm {
        padding-inline: 2rem;
    }

    @variant lg {
        padding-inline: 4rem;
    }

    @variant xl {
        padding-inline: 5rem;
    }

    @variant 2xl {
        padding-inline: 6rem;
    }
}

input {
    @apply block bg-white w-full rounded p-2 border border-black
}

.shadow-c {
    box-shadow: 0 4px 4px 0 #00000008;
}

.btn-c{
    @apply bg-black text-white rounded
}

/* PrimeVue Theming */
.p-toast {
  @apply !w-11/12 !max-w-[350px]
}

.p-toast-close-button, .p-toast-close-icon {
  display: none !important;
}

.p-toast-message {
  box-shadow: none !important;
}